.no-padding {
  padding: 0;
}
.sticky {
  position: sticky;
  top: 0;
}
.lessons-menu {
  padding: 20px;
}
.instructions {
  padding: 20px;
  min-height: calc(100vh - 56px);
}
.code-editor {
  padding: 20px;
  background-color: #1f1f1f;
  height: 60vh;
  .title {
    color: #ffffff;
  }
  .btn {
    margin-bottom: 5px;
  }
  .code-editor-plugin {
    height: 300px;
  }
}
.console-result {
  padding: 20px;
  height: 40vh;
  background-color: #000000;
  color: #15ff00;
  .title {
    color: #ffffff;
  }
  p {
    font-family: monospace;
  }
}