<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 no-padding">
      <div class="lessons-menu">
        <h3>Aulas</h3>
        <div class="list-group">
          <a *ngFor="let lesson of lessons"
            (click)="selectLesson(lesson)"
            routerLinkActive="active"
            class="list-group-item list-group-item-action">
            {{ lesson?.label }}
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-5 no-padding">
      <div class="instructions">
        <h1>{{ currentLesson?.label }}</h1>
        <hr>
        <markdown [src]="currentLesson?.text"></markdown>
      </div>
    </div>
    <div class="col-md-5 no-padding">
      <div class="sticky">
        <div class="code-editor">
          <div class="row">
            <div class="col-md-8">
              <h5 class="title">Editor</h5>
            </div>
            <div class="col-md-4 text-right">
              <button class="btn btn-outline-success btn-sm" (click)="runCode()">Executar</button>
            </div>
          </div>
          <ngx-monaco-editor *ngIf="currentLesson" class="code-editor-plugin" [options]="editorOptions" [(ngModel)]="currentLesson.codeContent"></ngx-monaco-editor>
        </div>
        <div class="console-result">
          <h5 class="title">Resultado</h5>
          <p *ngFor="let line of code.output">
            💬 {{ line }}
          </p>
          <p *ngIf="code.result">
            <b>👉 </b>{{ code.result }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>